<h1>Hello, world!</h1>
<p>This frontend application (SPA) relyies on a backend (REST API) running on:</p>
<ul>
  <li><strong>Machine name</strong>: <code>{{ backendSystemInformation.machineName }}</code></li>
  <li><strong>Processor architecture</strong>: <code>{{ backendSystemInformation.processorArchitecture }}</code></li>
  <li><strong>Framework description</strong>: <code>{{ backendSystemInformation.frameworkDescription }}</code></li>
  <li><strong>Runtime identifier</strong>: <code>{{ backendSystemInformation.runtimeIdentifier }}</code></li>
</ul>
